{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
    
    <div class="register-container">
        <div class="register-card">
            <h2>Create Account</h2>
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field.errors }}
                        <input 
                            type="{{ field.field.widget.input_type }}" 
                            class="form-control" 
                            id="{{ field.id_for_label }}" 
                            name="{{ field.html_name }}" 
                            value="{{ field.value|default:'' }}"
                            {% if field.field.required %}required{% endif %}>
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn-submit">Register</button>
            </form>

            <p class="login-link">
                Already have an account? <a href="{% url 'login' %}">Log in</a>
            </p>
        </div>
    </div>
{% endblock %}